

<div class="chatboxhead <% if message.user == current_user %>rightchat <% else %> leftchat <% end %>">
  <span><%= message.body %></span>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<br>
